<ion-content>
  <!-- Imagen de fondo -->
  <div class="background-image">
    <!-- Contenedor del título -->
    <div class="title-container">
      <h2>PERSONAJES</h2>
    </div>

    <!-- Cuadrícula de personajes -->
    <div class="grid-container">
      <div class="character-card">
        <a href="/mateoo"><img src="../../assets/mateo-peque.png" alt="Mateo" /></a>
        <div class="character-name">MATEO</div>
      </div>
      <div class="character-card">
        <a href="/sebastian"><img src="../../assets/Sebastián-peque.png" alt="Sebastián" /></a>
        <div class="character-name">SEBASTIÁN</div>
      </div>
      <div class="character-card">
        <a href="/cubo"><img src="../../assets/cubo-peque.png" alt="Cubo" /></a>
        <div class="character-name">CUBO</div>
      </div>
      <div class="character-card">
        <a href="/elgordo"><img src="../../assets/EL_GORDO-peque.png" alt="El Gordo" /></a>
        <div class="character-name">EL GORDO</div>
      </div>
      <div class="character-card">
        <a href="/camilo"><img src="../../assets/Camilo-peque.png" alt="Camilo" /></a>
        <div class="character-name">CAMILO</div>
      </div>
    </div>

  </div>
</ion-content>
