<ion-content>
  <!-- Imagen de fondo -->
  <div class="background-image">
    <!-- Botón de regreso -->
    <div class="back-button">
      <a href="/npcs-master">
        <ion-icon name="arrow-back-outline" ></ion-icon>
      </a>
    </div>

    <!-- Título de Servidores -->
    <div class="title-container">
      <h2>SERVIDORES</h2>
    </div>

    <!-- Tabla de Servidores -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre del servidor</th>
            <th>Número de jugadores</th>
            <th>Eliminar</th> <!-- Nueva columna para el ícono de eliminar -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servidor of servidores">
            <td>{{ servidor.id }}</td>
            <a href="/personajes-master">
              <td>{{ servidor.nombre_sala }}</td>
            </a>
            <td>15/{{ servidor.max_jugadores }}</td>
            <td>
              <!-- Ícono de eliminar -->
              <ion-icon name="trash-outline" (click)="eliminarServidor(servidor.id)" style="cursor: pointer;"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
